<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo machine learning</title>
</head>
<body>
  <div style="text-align:center;">
    <h3>DEMO SQL INJECTION CON RANDOM FOREST</h3>
  </div>
  <div style="text-align:center">
    <form action="/" method="post">
      {% csrf_token %}
      <label for="search">Buscador:</label>
      <input type="text" id="search" name="search" style="width:300px"/>
      <button type="submit">Enviar</button>
    </form>
  </div>
  {% if res != '' %}
    <div style="text-align:center; background-color: dimgray;">
      <h3> La conulta es <span style="color:white"> {{ res }}</span>. </h3>
    </div>
  {% else %}
  {% endif %}
  
  <div style="text-align:center;margin-top:50px;">By Efrain Rojas</div>
</body>
</html>